
<%= form_for(@anycdote) do |f| %>
  <% if @anycdote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anycdote.errors.count, "error") %> prohibited this anycdote from being saved:</h2>

      <ul>
      <% @anycdote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :story %>
    <%= f.text_field :story, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
