<div class="row top-buffer" class="transitions-enabled">
  <div id="anycdotes"> 
     <% @anycdotes.each do |anycdote| %>
    <div class="box panel panel-default">
      <div class = "panel-body">
        <%= anycdote.story %>

      </div>
      <div class="panel-body">
      <%= anycdote.location %>  
      </div>
    <!--
    <div class="panel-body"> 
        <%= link_to 'Show', anycdote %>
        <% if anycdote.user == current_user %>
          <%= link_to 'Edit', edit_anycdote_path(anycdote) %> 
          <%= link_to 'Destroy', anycdote, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <%end %>         
      </div> -->
      
    </div>
  <% end %>
  </div>
</div>
        <script type="text/javascript">

        anycdotes = document.getElementById("anycdotes")

        anycdotes.getElementsByTagName("div").forEach(function(anycdote) {
          anycdote.onClick = function() {
            if (anycdote.getAttribute("id") == "boxselected") {
              anycdote.setAttribute("id", "");
            } else {
              anycdote.setAttribute("id","boxselected");
            }
          };
        });


        </script>