<div class="row top-buffer">
	<p id="notice"><%= notice %></p>

	<p>
  	<strong>Audio File:</strong>
  	<%= @anycdote.title %>
	</p>

	<p>
  	<strong>Story:</strong>
  	<%= @anycdote.story %>
	</p>

	<p>
 	 <strong>Location:</strong>
 	 <%= @anycdote.location %>
	</p>

<% if @anycdote.user == current_user %>
	<%= link_to 'Edit', edit_anycdote_path(@anycdote) %> 
<% end %>
	<%= link_to 'Back', anycdotes_path %>
</div>
